.leaflet-top.leaflet-left {
    left: 95vw; /* Ajusta este valor según el ancho de tu menú */
}
html,body{
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    position: fixed;
}

#eliminar {
color: white;
background-color: #ff0000;
border-color: #ff0000;
padding: 0.375rem 0.75rem;
font-size: 0.875rem;
}
#editar{
color: white;
background-color: #007bff;
border-color: #007bff;
padding: 0.375rem 0.75rem;
font-size: 0.875rem;
text-align: right;
}

.form-container{
    position: fixed;
}
.form-container .the-form{
    top: 100%;
    left: 10%;
    display: flex;
}
.form-container .the-form .inputForm{
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    width: 150px;
}
label{
    font-family:'Times New Roman', Times, serif;
}
button{
    border-radius: 10px;
    height: 55px;
    width: 100px;
    background-color: rgb(162, 235, 238);
}
button:hover{
    background-color: rgb(222, 236, 235);
}

.check-show{
    margin-left: 10px;
}
.label-check{
    color: #ccc;
    padding-left: 10px;
    margin: 10px;
}