.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
     /* En la parte superior */
    top: 13%;
    left: 12%;
    width: 85%; /* Ancho completo */
    max-height: 100%;
    overflow: auto; /* Agregar scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo con opacidad */
    background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
    }
    
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Márgenes automáticos para centrar */
    padding: 10px;
    border: 1px solid #888;
    width: 60%; /* Ancho del modal */
    height: auto;
    }
    
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    